/* layout.css */

/* Base layout styles (for desktop) */
body {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
  }
  
 
  main {
    display: flex;
    gap: 20px;
  }
  
  /* Mobile rules */
  @media screen and (max-width: 600px) {
    /* content in a single column */
    main {
      flex-direction: column;
    }
  
    /* Center header and footer content */
    header, footer {
      text-align: center;
    }
  
    /* Bring important elements (like article content) to the top */
    main article {
      order: -1;
    }
  }

  main img {
    max-width: 100%;
  }
  